
@import url('https://fonts.googleapis.com/css2?family= Krona +One &família= Montserrat:ital,wght@1.500 & display=swap');

*{  margin: 0;
    padding: 0;


}

:root {  --cor--primaria:#6096B4 ;
         --cor--secundaria: #050505;
         --cor--terciaria: #BDCDD6;
         --cor--borda:#EEE9DA;
         --cor--hover:#F9F5E7;









}


body{
    box-sizing: content-box;
background-color:var(--cor--primaria);
color:var(--cor--secundaria);
}
.cabecalho {
        padding: 1%  0% 0% 5%;
}
.cabecalho__nav {

    display: flex;
   gap: 50px;
    
    
}
.cabecalho__nav__link {
    text-align: center;
    font-family:'Montserrat', sem serifa; 
    font-size:1.25rem;
    color:var(--cor--secundaria);
    border: 2px solid var(--cor--borda);
    border-radius: 8px;
    text-decoration: none;
    
}
.cabecalho__nav__link:hover {
    background-color:var(--cor--primaria);
    color:var(--cor--borda); 

}


.apresentacao {
    
    margin:10%;
    display: flex;
    align-items:center;
    gap: 85px;
    

}
.apresentacao__conteudo{
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 10px;
}



.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family:'Krona One', sem serifa;
}

.apresentacao__conteudo__texto{
  
    font-size: 1rem;
    font-family:'Montserrat', sem serifa;
    padding: 20px;

}
 .apresentacao__link {
     
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 16px;

 } 
   .apresentacao__link__links {
    
     background-color:var(--cor--primaria);
     display: flex;
     justify-content: center;
     gap: 16px;
     color:var(--cor--secundaria) ;
     text-align:center ;
     font-size: 1.5rem;
     text-decoration:none;
     font-family:'Krona One', sem serifa ;
     padding: 21.5px 0;
     width: 50%;
     height: 15px;
     border: 2px solid  var(--cor--borda);
     border-radius: 16px;
     
   }
   .apresentacao__link__links:hover{

        background-color:var(--cor--hover);
        color: var(--cor--borda);


   }
   .apresentacao__img {
    /*position: absolute;*/
    width: 50%;
    height: 532px;
    left: 900px;
    top: 145px;
    border-radius: 16px;

   }
   .imagem{
    
    display: flex;
    flex-direction: column ;
    gap: 10px;
   }

strong{

    color: var(--cor--terciaria);

}.a{
    color: var(--cor--borda);
}
 .rodape{

    background-color: var(--cor--terciaria);
    padding: 35px;
    text-align: center;
    font-size: 1.25rem;
 }
    
 
 @media(max-width:700px)
 .apresentacao{

     flex-direction:column-reverse;

    }